<h1 id="title"><%= @book.title %></h1>

<div class="book_info">
<ul>
  <li> Author: <%= @book.author %></li>
  <li> Rating: <%= @book.average_rating %></li>
  <li> <%= link_to "Rate This Book", new_book_rating_path(@book) %></li>
  <% if current_user.admin? %>
    <li> <%= link_to "Delete", book_path(@book), method: :delete %> </li>
  <% end %>
</ul>
</div>
